In [1]:
import pandas as pd
import numpy as np
import math
from patsy import dmatrices
from CreditRisk import CreditRisk

In [2]:
CRS_DATA = "crs_data.xlsx"
AIE_DATA = "aie_data.xlsx"
COMBINED_DATA = "combined_data.txt"

In [3]:
df_crs = pd.read_excel(CRS_DATA, header=1)
df_crs = df_crs.drop(columns=['ID'])
print(df_crs.columns.values)
df_crs.head()

['LIMIT BAL' 'SEX' 'EDUCATION' 'MARRIAGE' 'AGE' 'IRRIGATION PAY STATUS'
 'ELECTRICITY BILL PAY STATUS' 'LAND RENT PAY STATUS'
 'CHILDREN SCHOOL FEE PAY STATUS' 'EQUIPMENT RENT PAY STATUS'
 'IRRIGATION BILL' 'ELECTRICITY BILL' 'RENT OF LAND'
 'CHILDREN SCHOOL FEES' 'EQUIPMENT RENT' 'INCOME'
 'IRRGIGATION BILL AMOUNT PAID' 'ELECTRICITY BILL AMOUNT PAID'
 'RENT OF LAND AMOUNT PAID' 'CHILDREN SCHOOL FEE AMOUNT PAID'
 'EQUIPMENT RENT AMOUNT PAID' 'EXPENDITURE' 'Latitude' 'Longitude'
 'default payment next month']

,LIMIT BAL,SEX,EDUCATION,MARRIAGE,AGE,IRRIGATION PAY STATUS,ELECTRICITY BILL PAY STATUS,LAND RENT PAY STATUS,CHILDREN SCHOOL FEE PAY STATUS,EQUIPMENT RENT PAY STATUS,...,INCOME,IRRGIGATION BILL AMOUNT PAID,ELECTRICITY BILL AMOUNT PAID,RENT OF LAND AMOUNT PAID,CHILDREN SCHOOL FEE AMOUNT PAID,EQUIPMENT RENT AMOUNT PAID,EXPENDITURE,Latitude,Longitude,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,3.913043e+03,0,689,0,0,0,989,76.21,17.80,1
1,120000,2,2,2,26,-1,2,0,0,0,...,4.292609e+05,0,1000,1000,1000,0,3300,75.97,18.16,1
2,90000,2,2,2,34,0,0,0,0,0,...,2.032043e+06,1518,1500,1000,1000,1000,6318,75.10,17.60,0
3,50000,2,2,1,37,0,0,0,0,0,...,3.857870e+06,2000,2019,1200,1100,1069,7688,74.82,18.39,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,2.499261e+06,2000,36681,10000,9000,689,58670,76.07,17.65,0

In [4]:
print("Max Latitude:", df_crs['Latitude'].max())
print("Min Latitude:", df_crs['Latitude'].min())

print("Max Longitude:", df_crs['Longitude'].max())
print("Min Longitude:", df_crs['Longitude'].min())

df_crs = df_crs.sort_values(['Latitude', 'Longitude'], ascending=[True, True])
df_crs = df_crs.reset_index(drop=True)
df_crs.head()

Max Latitude: 77.23
Min Latitude: 74.55
Max Longitude: 19.19
Min Longitude: 17.36

,LIMIT BAL,SEX,EDUCATION,MARRIAGE,AGE,IRRIGATION PAY STATUS,ELECTRICITY BILL PAY STATUS,LAND RENT PAY STATUS,CHILDREN SCHOOL FEE PAY STATUS,EQUIPMENT RENT PAY STATUS,...,INCOME,IRRGIGATION BILL AMOUNT PAID,ELECTRICITY BILL AMOUNT PAID,RENT OF LAND AMOUNT PAID,CHILDREN SCHOOL FEE AMOUNT PAID,EQUIPMENT RENT AMOUNT PAID,EXPENDITURE,Latitude,Longitude,default payment next month
0,50000,1,3,2,28,2,2,2,0,0,...,3.922174e+06,1800,0,1100,2400,0,5600,74.55,18.76,1
1,200000,1,2,1,38,0,0,0,0,0,...,2.202157e+07,6000,5000,5000,5000,4917,26217,74.55,18.79,0
2,50000,1,3,2,43,-1,-1,-1,0,-1,...,5.473043e+05,4166,4216,4116,4166,4166,21130,74.56,18.74,0
3,140000,2,2,2,30,-1,-1,-2,-2,-2,...,3.913043e+03,0,0,0,0,0,300,74.56,18.77,0
4,20000,2,1,2,22,0,0,2,-1,0,...,3.913043e+03,3000,0,16741,334,0,20375,74.56,18.80,1

In [5]:
df_aie = pd.read_excel(AIE_DATA)
print(df_aie.columns.values)
df_aie.head()

['Latitude' 'Longitude' 'Country' 'State'
 '\xa0Distance_to_the_next_waterway_river_or_canal_km'
 'Distance_to_the_next_natural_waterbody_lake_or_pond_km'
 'Distance_to_the_next_primary_highway_km'
 'Distance_to_the_next_village_km' 'Distance_to_the_next_city_KM'
 'Crop_Type' 'Yield_KG_Per_Hect' 'MSP_INR_Per_Quintal' 'Farm_Size_Hect'
 'Estimated_INR' 'default payment next month' 'District' 'Sub-district']

,Latitude,Longitude,Country,State,Distance_to_the_next_waterway_river_or_canal_km,Distance_to_the_next_natural_waterbody_lake_or_pond_km,Distance_to_the_next_primary_highway_km,Distance_to_the_next_village_km,Distance_to_the_next_city_KM,Crop_Type,Yield_KG_Per_Hect,MSP_INR_Per_Quintal,Farm_Size_Hect,Estimated_INR,default payment next month,District,Sub-district
0,74.554588,18.792397,India,Maharashtra,39.07,4.95,4.70,1.90,1.29,Rice,2390,1550,13.44,49778.69,0,Ahmadnagar,Shrigonda
1,74.554828,18.758511,India,Maharashtra,42.30,2.38,1.55,1.39,0.29,Pulses,744,1700,10.60,13412.30,1,Ahmadnagar,Shrigonda
2,74.556473,18.802080,India,Maharashtra,38.06,5.19,5.76,1.12,1.53,Oilseeds,1037,1400,14.94,21687.68,1,Ahmadnagar,Shrigonda
3,74.557621,18.768064,India,Maharashtra,41.23,3.10,2.58,0.43,0.37,Oilseeds,1037,1400,12.31,17867.39,0,Ahmadnagar,Shrigonda
4,74.558332,18.812087,India,Maharashtra,37.02,4.51,6.86,0.35,2.26,Rice,2390,1550,14.43,53466.88,1,Ahmadnagar,Shrigonda

In [6]:
print("Max Latitude:", df_aie['Latitude'].max())
print("Min Latitude:", df_aie['Latitude'].min())

print("Max Longitude:", df_aie['Longitude'].max())
print("Min Longitude:", df_aie['Longitude'].min())

df_aie = df_aie.sort_values(['Latitude', 'Longitude'], ascending=[True, True])
df_aie.head()

Max Latitude: 77.23158036
Min Latitude: 74.5545876061
Max Longitude: 19.18754888
Min Longitude: 17.35554501

,Latitude,Longitude,Country,State,Distance_to_the_next_waterway_river_or_canal_km,Distance_to_the_next_natural_waterbody_lake_or_pond_km,Distance_to_the_next_primary_highway_km,Distance_to_the_next_village_km,Distance_to_the_next_city_KM,Crop_Type,Yield_KG_Per_Hect,MSP_INR_Per_Quintal,Farm_Size_Hect,Estimated_INR,default payment next month,District,Sub-district
0,74.554588,18.792397,India,Maharashtra,39.07,4.95,4.70,1.90,1.29,Rice,2390,1550,13.44,49778.69,0,Ahmadnagar,Shrigonda
1,74.554828,18.758511,India,Maharashtra,42.30,2.38,1.55,1.39,0.29,Pulses,744,1700,10.60,13412.30,1,Ahmadnagar,Shrigonda
2,74.556473,18.802080,India,Maharashtra,38.06,5.19,5.76,1.12,1.53,Oilseeds,1037,1400,14.94,21687.68,1,Ahmadnagar,Shrigonda
3,74.557621,18.768064,India,Maharashtra,41.23,3.10,2.58,0.43,0.37,Oilseeds,1037,1400,12.31,17867.39,0,Ahmadnagar,Shrigonda
4,74.558332,18.812087,India,Maharashtra,37.02,4.51,6.86,0.35,2.26,Rice,2390,1550,14.43,53466.88,1,Ahmadnagar,Shrigonda

In [7]:
customer_0 = df_crs.iloc[0]
print(customer_0)
print(customer_0['Latitude'])
print(customer_0['Longitude'])
print(type(customer_0['Latitude']))
# TODO find all rows in df_aie where df_aie['Latitude'] and df_aie['Longitude'] 
# contains df_crs['Lat'] and df_crs['Long']
result = df_aie.loc[(df_aie['Latitude'] > customer_0['Latitude'] - 0.01) 
                    & (df_aie['Latitude'] < customer_0['Latitude'] + 0.01)
                    & (df_aie['Longitude'] > customer_0['Longitude'] - 0.01)
                    & (df_aie['Longitude'] < customer_0['Longitude'] + 0.01)]
result

LIMIT BAL                          5.000000e+04
SEX                                1.000000e+00
EDUCATION                          3.000000e+00
MARRIAGE                           2.000000e+00
AGE                                2.800000e+01
IRRIGATION PAY STATUS              2.000000e+00
ELECTRICITY BILL PAY STATUS        2.000000e+00
LAND RENT PAY STATUS               2.000000e+00
CHILDREN SCHOOL FEE PAY STATUS     0.000000e+00
EQUIPMENT RENT PAY STATUS          0.000000e+00
IRRIGATION BILL                    2.812900e+04
ELECTRICITY BILL                   2.918400e+04
RENT OF LAND                       2.842100e+04
CHILDREN SCHOOL FEES               2.875100e+04
EQUIPMENT RENT                     3.068500e+04
INCOME                             3.922174e+06
IRRGIGATION BILL AMOUNT PAID       1.800000e+03
ELECTRICITY BILL AMOUNT PAID       0.000000e+00
RENT OF LAND AMOUNT PAID           1.100000e+03
CHILDREN SCHOOL FEE AMOUNT PAID    2.400000e+03
EQUIPMENT RENT AMOUNT PAID         0.000000e+00
EXPENDITURE                        5.600000e+03
Latitude                           7.455000e+01
Longitude                          1.876000e+01
default payment next month         1.000000e+00
Name: 0, dtype: float64
74.55
18.76
<class 'numpy.float64'>

,Latitude,Longitude,Country,State,Distance_to_the_next_waterway_river_or_canal_km,Distance_to_the_next_natural_waterbody_lake_or_pond_km,Distance_to_the_next_primary_highway_km,Distance_to_the_next_village_km,Distance_to_the_next_city_KM,Crop_Type,Yield_KG_Per_Hect,MSP_INR_Per_Quintal,Farm_Size_Hect,Estimated_INR,default payment next month,District,Sub-district
1,74.554828,18.758511,India,Maharashtra,42.30,2.38,1.55,1.39,0.29,Pulses,744,1700,10.60,13412.30,1,Ahmadnagar,Shrigonda
3,74.557621,18.768064,India,Maharashtra,41.23,3.10,2.58,0.43,0.37,Oilseeds,1037,1400,12.31,17867.39,0,Ahmadnagar,Shrigonda

In [8]:
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return array[idx]

In [9]:
def find_index_nearest_point(lat, long, df_lat, df_long):
    lats = np.asarray(df_lat)
    longs = np.asarray(df_long)
    rel_lats = np.abs(lats - lat)
    rel_longs = np.abs(longs - long)
    rel_position = rel_lats + rel_longs
    idx = (rel_position).argmin()
    return idx

In [10]:
customer_0 = df_crs.iloc[0]
print(customer_0['Latitude'])
print(customer_0['Longitude'])
idx = find_nearest_point_index(customer_0['Latitude'], customer_0['Longitude'], df_aie['Latitude'], df_aie['Longitude'])
#print(idx)
res = df_aie.loc[idx]
print(type(res))
res

74.55
18.76
<class 'pandas.core.series.Series'>

Latitude                                                      74.5548
Longitude                                                     18.7585
Country                                                         India
State                                                     Maharashtra
 Distance_to_the_next_waterway_river_or_canal_km                 42.3
Distance_to_the_next_natural_waterbody_lake_or_pond_km           2.38
Distance_to_the_next_primary_highway_km                          1.55
Distance_to_the_next_village_km                                  1.39
Distance_to_the_next_city_KM                                     0.29
Crop_Type                                                      Pulses
Yield_KG_Per_Hect                                                 744
MSP_INR_Per_Quintal                                              1700
Farm_Size_Hect                                                   10.6
Estimated_INR                                                 13412.3
default payment next month                                          1
District                                                   Ahmadnagar
Sub-district                                                Shrigonda
Name: 1, dtype: object

In [11]:
%%time
df_ordered_aie = pd.DataFrame()
for index, row in df_crs.iterrows():
    #if index % 1000 == 0:
    #    print(index)
    user = df_crs.iloc[index]
    idx = find_index_nearest_point(user['Latitude'], user['Longitude'], df_aie['Latitude'], df_aie['Longitude'])
    #print(idx)
    df_ordered_aie = df_ordered_aie.append(df_aie.iloc[idx])
    
df_ordered_aie = df_ordered_aie.reset_index(drop=True)
df_combined = pd.concat([df_crs, df_ordered_aie], axis=1)
df_combined

CPU times: user 3min 49s, sys: 2.39 s, total: 3min 52s
Wall time: 3min 54s

In [16]:
df_combined

,LIMIT BAL,SEX,EDUCATION,MARRIAGE,AGE,IRRIGATION PAY STATUS,ELECTRICITY BILL PAY STATUS,LAND RENT PAY STATUS,CHILDREN SCHOOL FEE PAY STATUS,EQUIPMENT RENT PAY STATUS,...,Estimated_INR,Farm_Size_Hect,Latitude,Longitude,MSP_INR_Per_Quintal,State,Sub-district,Yield_KG_Per_Hect,default payment next month,Distance_to_the_next_waterway_river_or_canal_km
0,50000,1,3,2,28,2,2,2,0,0,...,13412.30,10.60,74.554828,18.758511,1700.0,Maharashtra,Shrigonda,744.0,1.0,42.30
1,200000,1,2,1,38,0,0,0,0,0,...,49778.69,13.44,74.554588,18.792397,1550.0,Maharashtra,Shrigonda,2390.0,0.0,39.07
2,50000,1,3,2,43,-1,-1,-1,0,-1,...,920.20,1.40,74.563733,18.740508,1425.0,Maharashtra,Shrigonda,461.0,0.0,43.62
3,140000,2,2,2,30,-1,-1,-2,-2,-2,...,17867.39,12.31,74.557621,18.768064,1400.0,Maharashtra,Shrigonda,1037.0,0.0,41.23
4,20000,2,1,2,22,0,0,2,-1,0,...,18157.12,12.51,74.561155,18.797965,1400.0,Maharashtra,Shrigonda,1037.0,0.0,38.18
5,500000,1,1,2,30,0,0,0,0,0,...,18157.12,12.51,74.561155,18.797965,1400.0,Maharashtra,Shrigonda,1037.0,0.0,38.18
6,50000,1,3,1,47,1,3,2,0,0,...,18157.12,12.51,74.561155,18.797965,1400.0,Maharashtra,Shrigonda,1037.0,0.0,38.18
7,140000,2,2,2,29,0,0,2,0,0,...,18157.12,12.51,74.561155,18.797965,1400.0,Maharashtra,Shrigonda,1037.0,0.0,38.18
8,230000,1,3,2,41,0,0,0,0,0,...,53466.88,14.43,74.558332,18.812087,1550.0,Maharashtra,Shrigonda,2390.0,1.0,37.02
9,40000,2,1,2,29,0,0,2,2,2,...,26247.24,7.09,74.574702,18.679392,1550.0,Maharashtra,Shrigonda,2390.0,1.0,49.32
10,580000,2,1,1,31,0,0,0,0,0,...,940.80,0.74,74.569138,18.688002,1700.0,Maharashtra,Shrigonda,744.0,0.0,48.66
11,300000,1,1,2,55,-2,-2,-2,-2,-2,...,940.80,0.74,74.569138,18.688002,1700.0,Maharashtra,Shrigonda,744.0,0.0,48.66
12,150000,2,3,1,43,0,0,0,2,2,...,120135.65,13.77,74.565877,18.712897,4020.0,Maharashtra,Shrigonda,2170.0,1.0,46.28
13,70000,2,1,2,36,0,0,0,0,0,...,12788.53,8.81,74.568347,18.725848,1400.0,Maharashtra,Shrigonda,1037.0,0.0,44.87
14,160000,1,2,2,29,-1,-1,-1,-1,-1,...,65672.97,17.73,74.567352,18.729274,1550.0,Maharashtra,Shrigonda,2390.0,0.0,44.57
15,30000,2,2,2,22,0,0,0,0,0,...,65672.97,17.73,74.567352,18.729274,1550.0,Maharashtra,Shrigonda,2390.0,0.0,44.57
16,50000,1,2,2,22,2,2,2,0,0,...,28881.33,19.89,74.567137,18.770453,1400.0,Maharashtra,Shrigonda,1037.0,1.0,40.51
17,240000,2,3,2,33,0,0,0,0,0,...,28881.33,19.89,74.567137,18.770453,1400.0,Maharashtra,Shrigonda,1037.0,1.0,40.51
18,190000,1,3,1,54,1,-2,-2,-1,0,...,10356.67,15.68,74.570059,18.779568,230.0,Maharashtra,Shrigonda,2872.0,0.0,39.48
19,90000,2,2,2,44,2,2,2,2,2,...,156516.23,17.94,74.567113,18.817789,4020.0,Maharashtra,Shrigonda,2170.0,1.0,35.99
20,60000,2,1,2,25,0,0,0,0,0,...,12470.16,8.59,74.584016,18.646023,1400.0,Maharashtra,Shrigonda,1037.0,0.0,52.43
21,20000,2,2,2,24,3,2,2,2,2,...,398181.15,2.99,74.582147,18.664798,1900.0,Maharashtra,Shrigonda,70000.0,1.0,50.54
22,20000,1,2,2,24,2,0,0,2,2,...,42592.45,11.50,74.577469,18.672602,1550.0,Maharashtra,Shrigonda,2390.0,1.0,49.91
23,50000,1,1,2,24,2,2,0,0,0,...,21236.26,14.63,74.577610,18.686237,1400.0,Maharashtra,Shrigonda,1037.0,0.0,48.50
24,110000,2,1,2,28,0,0,0,0,0,...,10573.41,2.85,74.580170,18.712043,1550.0,Maharashtra,Shrigonda,2390.0,0.0,45.76
25,500000,2,1,1,35,-1,-1,-1,-1,-1,...,4680.89,7.09,74.580877,18.723893,230.0,Maharashtra,Shrigonda,2872.0,0.0,44.52
26,360000,1,1,2,27,-1,-1,-1,-1,-1,...,17058.86,13.49,74.577683,18.822765,1700.0,Maharashtra,Shrigonda,744.0,0.0,34.93
27,50000,1,2,1,26,0,0,-2,-1,-1,...,10566.62,8.35,74.588604,18.612407,1700.0,Maharashtra,Shrigonda,744.0,1.0,55.80
28,100000,2,1,2,38,2,2,2,2,2,...,10566.62,8.35,74.588604,18.612407,1700.0,Maharashtra,Shrigonda,744.0,1.0,55.80
29,20000,1,2,2,40,0,0,0,0,0,...,10566.62,8.35,74.588604,18.612407,1700.0,Maharashtra,Shrigonda,744.0,1.0,55.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24970,210000,2,1,2,27,0,0,0,0,0,...,1775.84,2.69,77.216548,18.600805,230.0,Maharashtra,Udgir,2872.0,0.0,63.73
24971,130000,2,2,2,25,-2,-1,0,0,0,...,106743.74,12.24,77.219458,18.617070,4020.0,Maharashtra,Udgir,2170.0,0.0,61.91
24972,10000,1,2,2,21,0,0,0,0,-1,...,23811.87,16.40,77.220490,18.659399,1400.0,Maharashtra,Mukher,1037.0,0.0,57.26
24973,360000,2,1,1,36,-2,-2,-2,-2,-2,...,16330.79,12.91,77.215204,18.669020,1700.0,Maharashtra,Mukher,744.0,0.0,56.31
24974,100000,2,3,1,44,0,0,0,0,0,...,16330.79,12.91,77.215204,18.669020,1700.0,Maharashtra,Mukher,744.0,0.0,56.31
24975,280000,2,1,1,63,-2,-2,-2,-2,-2,...,68498.49,18.49,77.225709,18.688875,1550.0,Maharashtra,Mukher,2390.0,1.0,53.95
24976,30000,2,2,2,24,0,0,0,2,0,...,4724.27,7.15,77.219397,18.719257,230.0,Maharashtra,Kandahar,2872.0,0.0,50.76
24977,50000,2,2,2,27,0,0,0,0,0,...,951562.64,7.15,77.213611,18.790476,1900.0,Maharashtra,Kandahar,70000.0,0.0,43.19
24978,410000,2,1,2,30,0,-1,-1,0,0,...,129026.54,14.79,77.220341,18.797507,4020.0,Maharashtra,Kandahar,2170.0,0.0,42.26
24979,450000,2,1,2,31,-1,-1,-1,-1,0,...,129026.54,14.79,77.220341,18.797507,4020.0,Maharashtra,Kandahar,2170.0,0.0,42.26
24980,120000,2,2,1,42,0,0,0,0,0,...,129026.54,14.79,77.220341,18.797507,4020.0,Maharashtra,Kandahar,2170.0,0.0,42.26
24981,50000,2,1,2,26,1,-2,-2,-1,-1,...,38176.22,10.31,77.222352,18.831844,1550.0,Maharashtra,Kandahar,2390.0,0.0,38.52
24982,310000,2,1,2,38,-1,-1,-1,-1,-2,...,15927.89,24.25,77.224863,18.845966,1425.0,Maharashtra,Kandahar,461.0,0.0,36.94
24983,180000,1,2,2,29,1,-2,-2,-2,-2,...,6511.75,1.76,77.217320,18.857843,1550.0,Maharashtra,Kandahar,2390.0,0.0,35.87
24984,500000,2,1,1,44,-1,-1,-1,-1,-1,...,2467920.27,18.56,77.219374,18.869985,1900.0,Maharashtra,Kandahar,70000.0,0.0,34.52
24985,20000,1,3,2,55,-1,3,2,0,0,...,34160.86,9.22,77.220009,18.882548,1550.0,Maharashtra,Kandahar,2390.0,0.0,33.17
24986,300000,2,2,2,39,-1,-1,-1,-1,-1,...,5467.39,1.48,77.226725,18.561506,1550.0,Maharashtra,Udgir,2390.0,0.0,67.89
24987,150000,2,2,1,35,0,0,0,0,0,...,24005.36,6.48,77.224200,18.589753,1550.0,Maharashtra,Udgir,2390.0,1.0,64.82
24988,200000,1,2,2,32,-1,-1,-1,-1,-1,...,25906.12,17.84,77.228764,18.632937,1400.0,Maharashtra,Mukher,1037.0,0.0,60.02
24989,90000,2,1,2,25,2,2,2,2,0,...,2768.85,4.21,77.227819,18.654103,1425.0,Maharashtra,Mukher,461.0,0.0,57.72
24990,110000,1,2,1,45,0,0,2,0,0,...,28492.81,3.27,77.227705,18.661143,4020.0,Maharashtra,Mukher,2170.0,1.0,56.95
24991,110000,2,2,2,29,0,0,0,0,0,...,28492.81,3.27,77.227705,18.661143,4020.0,Maharashtra,Mukher,2170.0,1.0,56.95
24992,310000,2,1,1,32,0,-1,0,0,0,...,68498.49,18.49,77.225709,18.688875,1550.0,Maharashtra,Mukher,2390.0,1.0,53.95
24993,80000,2,2,1,53,0,0,0,0,0,...,61671.39,16.65,77.227478,18.730869,1550.0,Maharashtra,Kandahar,2390.0,0.0,49.34
24994,320000,2,2,1,43,0,0,0,0,0,...,6516.59,9.92,77.225034,18.759925,1425.0,Maharashtra,Kandahar,461.0,0.0,46.23
24995,320000,2,3,1,35,0,0,0,0,0,...,6516.59,9.92,77.225034,18.759925,1425.0,Maharashtra,Kandahar,461.0,0.0,46.23
24996,80000,2,2,1,27,0,-1,-1,-2,-2,...,2967.08,2.35,77.231580,18.825010,1700.0,Maharashtra,Kandahar,744.0,1.0,39.03
24997,200000,2,1,2,30,-1,-1,-1,-1,-1,...,670464.15,5.04,77.229861,18.843650,1900.0,Maharashtra,Kandahar,70000.0,1.0,37.06
24998,150000,1,2,1,36,2,0,0,0,0,...,15300.05,12.10,77.227629,18.861181,1700.0,Maharashtra,Kandahar,744.0,1.0,35.23
24999,80000,2,3,1,40,0,0,0,0,0,...,19678.57,13.55,77.229304,18.885086,1400.0,Maharashtra,Kandahar,1037.0,1.0,32.63

In [12]:
print(df_ordered_aie.shape)
print(df_crs.shape)

(25000, 17)
(25000, 25)

In [13]:
#df_combined.to_csv("combined_data.txt", sep='\t', encoding='utf-8')

In [14]:
nearest = find_nearest(df_aie['Latitude'], customer_0['Latitude'])
print(nearest)
res = df_aie.loc[(df_aie['Latitude'] == nearest)]
res

74.5545876061

,Latitude,Longitude,Country,State,Distance_to_the_next_waterway_river_or_canal_km,Distance_to_the_next_natural_waterbody_lake_or_pond_km,Distance_to_the_next_primary_highway_km,Distance_to_the_next_village_km,Distance_to_the_next_city_KM,Crop_Type,Yield_KG_Per_Hect,MSP_INR_Per_Quintal,Farm_Size_Hect,Estimated_INR,default payment next month,District,Sub-district
0,74.554588,18.792397,India,Maharashtra,39.07,4.95,4.7,1.9,1.29,Rice,2390,1550,13.44,49778.69,0,Ahmadnagar,Shrigonda

In [44]:
def fill_missing_with_col_mean(df):
    print(df.columns.values)
    print(df.isnull().sum(axis=0))
    return df

res = fill_missing_with_col_mean(df_crs)
print(df_crs.loc[0])

['limit bal' 'sex' 'education' 'marriage' 'age' 'irrigation pay status'
 'electricity bill pay status' 'land rent pay status'
 'children school fee pay status' 'equipment rent pay status'
 'irrigation bill' 'electricity bill' 'rent of land'
 'children school fees' 'equipment rent' 'income'
 'irrgigation bill amount paid' 'electricity bill amount paid'
 'rent of land amount paid' 'children school fee amount paid'
 'equipment rent amount paid' 'expenditure' 'latitude' 'longitude'
 'default payment next month' 'sex_categorical' 'marriage_categorical'
 'default payment next month_categorical']
limit bal                                 0
sex                                       0
education                                 0
marriage                                  0
age                                       0
irrigation pay status                     0
electricity bill pay status               0
land rent pay status                      0
children school fee pay status            0
equipment rent pay status                 0
irrigation bill                           0
electricity bill                          0
rent of land                              0
children school fees                      0
equipment rent                            0
income                                    0
irrgigation bill amount paid              0
electricity bill amount paid              0
rent of land amount paid                  0
children school fee amount paid           0
equipment rent amount paid                0
expenditure                               0
latitude                                  0
longitude                                 0
default payment next month                0
sex_categorical                           0
marriage_categorical                      0
default payment next month_categorical    0
dtype: int64
limit bal                                   20000
sex                                             2
education                                       2
marriage                                        1
age                                            24
irrigation pay status                           2
electricity bill pay status                     2
land rent pay status                           -1
children school fee pay status                 -1
equipment rent pay status                      -2
irrigation bill                              3913
electricity bill                             3102
rent of land                                  689
children school fees                           10
equipment rent                                  0
income                                    3913.04
irrgigation bill amount paid                    0
electricity bill amount paid                  689
rent of land amount paid                        0
children school fee amount paid                 0
equipment rent amount paid                      0
expenditure                                   989
latitude                                    76.21
longitude                                    17.8
default payment next month                      1
sex_categorical                                 2
marriage_categorical                            1
default payment next month_categorical          1
Name: 0, dtype: object

In [3]:
def find_default_col(col_name, df):
    default_col_name = df.filter(regex=col_name).columns
    return default_col_name

In [4]:
def read_file_(df, uuid_t):

        # TODO may need to do further cleaning of data (especially headers)
        # since various banks will have various ways of encoding their data
        # column headers are stochastic currently
        # TODO may also want to perform checks if datasets are not all excel files

    attributes = list(df.columns.values)
    df.columns = [x.lower() for x in df.columns]

    if uuid_t != "":
        attributes_dir = os.path.join(self.root_dir, 'temp_attributes')
        if not os.path.exists(attributes_dir):
            os.makedirs(attributes_dir)
        fw = open(attributes_dir + "/" + uuid_t + ".csv", 'wb')
        pickle.dump(attributes, fw, pickle.HIGHEST_PROTOCOL)
        fw.close()

        # fill in missing values with means
    #df = fill_missing_with_col_mean(df)

        # find default col
        # assume, for now, that the default col is the only col that contains word default
        # may want to allow user on front end to select the default col
    temp_default_col_name = "default"
    default_col_name = find_default_col(temp_default_col_name, df)
    print(default_col_name[0])
    classes = sorted(df[default_col_name[0]].unique())

        # first sort by categorical or numerical
    df_processed = df.copy()
    for col in df:
        print(col)
        print(type(col))
        if len(df[col].unique()) < 5 and ("categorical" not in col):
            df_processed[col+"_categorical"] = df[col].astype('category')
            df_processed = df_processed.drop(columns=[col])

        # if all money values in df comes in floating point, it would make things alot easier


    return df_processed, classes

In [6]:
df_crs.head()

,LIMIT BAL,SEX,EDUCATION,MARRIAGE,AGE,IRRIGATION PAY STATUS,ELECTRICITY BILL PAY STATUS,LAND RENT PAY STATUS,CHILDREN SCHOOL FEE PAY STATUS,EQUIPMENT RENT PAY STATUS,...,INCOME,IRRGIGATION BILL AMOUNT PAID,ELECTRICITY BILL AMOUNT PAID,RENT OF LAND AMOUNT PAID,CHILDREN SCHOOL FEE AMOUNT PAID,EQUIPMENT RENT AMOUNT PAID,EXPENDITURE,Latitude,Longitude,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,3.913043e+03,0,689,0,0,0,989,76.21,17.80,1
1,120000,2,2,2,26,-1,2,0,0,0,...,4.292609e+05,0,1000,1000,1000,0,3300,75.97,18.16,1
2,90000,2,2,2,34,0,0,0,0,0,...,2.032043e+06,1518,1500,1000,1000,1000,6318,75.10,17.60,0
3,50000,2,2,1,37,0,0,0,0,0,...,3.857870e+06,2000,2019,1200,1100,1069,7688,74.82,18.39,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,2.499261e+06,2000,36681,10000,9000,689,58670,76.07,17.65,0

In [7]:
result = read_file_(df_crs, "")
print("")
print(result[0].columns.values)
print(type(result[0]))

default payment next month
limit bal
<class 'str'>
sex
<class 'str'>
education
<class 'str'>
marriage
<class 'str'>
age
<class 'str'>
irrigation pay status
<class 'str'>
electricity bill pay status
<class 'str'>
land rent pay status
<class 'str'>
children school fee pay status
<class 'str'>
equipment rent pay status
<class 'str'>
irrigation bill
<class 'str'>
electricity bill
<class 'str'>
rent of land
<class 'str'>
children school fees
<class 'str'>
equipment rent
<class 'str'>
income
<class 'str'>
irrgigation bill amount paid
<class 'str'>
electricity bill amount paid
<class 'str'>
rent of land amount paid
<class 'str'>
children school fee amount paid
<class 'str'>
equipment rent amount paid
<class 'str'>
expenditure
<class 'str'>
latitude
<class 'str'>
longitude
<class 'str'>
default payment next month
<class 'str'>

['limit bal' 'education' 'age' 'irrigation pay status'
 'electricity bill pay status' 'land rent pay status'
 'children school fee pay status' 'equipment rent pay status'
 'irrigation bill' 'electricity bill' 'rent of land'
 'children school fees' 'equipment rent' 'income'
 'irrgigation bill amount paid' 'electricity bill amount paid'
 'rent of land amount paid' 'children school fee amount paid'
 'equipment rent amount paid' 'expenditure' 'latitude' 'longitude'
 'sex_categorical' 'marriage_categorical'
 'default payment next month_categorical']
<class 'pandas.core.frame.DataFrame'>

In [8]:
def test_train_matrix_(df):
    attributes = list(df.columns.values)

    temp_default_col_name = "default"
    default_col_name = find_default_col(temp_default_col_name, df)
    
    print(default_col_name)

    df_target = df[[default_col_name[0]]]
    y = df_target.as_matrix()
    
    df_feat = df.drop(columns=[default_col_name[0]])
    X = df_feat.as_matrix()
    #X = df.as_matrix()

    return (df_target, df_feat, X, y)
    #return (X, y)

In [33]:
    def test_train_matrix(self, df):
        formula = 'target ~ '
        formula += 'C(sex) + C(marriage) +  C(education) + age'
        formula += '+' + '+'.join(self.select_cols('pay_'))
        formula += '+' + 'C(age_cat)'
        formula += '+' + 'C(limit_bal_cat) + limit_bal_log'
        formula += '+' + 'pay_avg + pay_std'
        formula += '+' + 'pay_amt_avg_log'
        formula += '+' + '+'.join(self.select_cols('pay_relamt'))
        formula += '+' + '+'.join(self.select_cols('pay_amt_log'))
        formula += '+' + 'bill_amt_avg_log'
        formula += '+' + '+'.join(self.select_cols('bill_relamt'))
        formula += '+' + '+'.join(self.select_cols('bill_amt_sign'))
        formula += '+' + '+'.join(self.select_cols('bill_amt_log'))

        # print df.shape

        y, X = dmatrices(formula, data=df, return_type='dataframe')
        y = y.iloc[:, 1]
        # print X.shape
        return (X, y)

In [48]:
URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default of credit card clients.xls"
CR = CreditRisk(URL, "")
df = CR.download_file()
df_o, classes = CR.read_file(df, "")
X, y = CR.test_train_matrix(df_o)
#print(X)

[0, 1]

In [36]:
def select_cols(prefix, a=1, b=6):
    return [prefix + str(i) for i in np.arange(a, b + 1)]

def test_train_matrix(df):
    attrs = list(df.columns.values)
    print(attrs)
    
    formula = 'Q("default payment next month") ~ '
    formula += 'Q("limit bal")'
    for i in attrs:
        if ("categorical" in i):
            formula += '+' + 'C(Q("'+ i + '"))'
        else:
            formula += '+' + 'Q("'+ i + '")'
    print(formula)

        # print df.shape

    y, X = dmatrices(formula, data=df, return_type='dataframe')
    y = y.iloc[:, 0]
    print(X.shape)
    print(y.shape)
    return (X, y)

In [46]:
X, y = test_train_matrix(df_crs)
#print(y)
#print(X)

['limit bal', 'sex', 'education', 'marriage', 'age', 'irrigation pay status', 'electricity bill pay status', 'land rent pay status', 'children school fee pay status', 'equipment rent pay status', 'irrigation bill', 'electricity bill', 'rent of land', 'children school fees', 'equipment rent', 'income', 'irrgigation bill amount paid', 'electricity bill amount paid', 'rent of land amount paid', 'children school fee amount paid', 'equipment rent amount paid', 'expenditure', 'latitude', 'longitude', 'default payment next month']
Q("default payment next month") ~ Q("limit bal")+Q("limit bal")+Q("sex")+Q("education")+Q("marriage")+Q("age")+Q("irrigation pay status")+Q("electricity bill pay status")+Q("land rent pay status")+Q("children school fee pay status")+Q("equipment rent pay status")+Q("irrigation bill")+Q("electricity bill")+Q("rent of land")+Q("children school fees")+Q("equipment rent")+Q("income")+Q("irrgigation bill amount paid")+Q("electricity bill amount paid")+Q("rent of land amount paid")+Q("children school fee amount paid")+Q("equipment rent amount paid")+Q("expenditure")+Q("latitude")+Q("longitude")+Q("default payment next month")
(25000, 26)
(25000,)

In [47]:
target, feat, X, y = test_train_matrix_(df_crs)
print(target.columns.values)
print(feat.columns.values)
#print(X[0])
#print(y)

Index(['default payment next month'], dtype='object')
['default payment next month']
['limit bal' 'sex' 'education' 'marriage' 'age' 'irrigation pay status'
 'electricity bill pay status' 'land rent pay status'
 'children school fee pay status' 'equipment rent pay status'
 'irrigation bill' 'electricity bill' 'rent of land'
 'children school fees' 'equipment rent' 'income'
 'irrgigation bill amount paid' 'electricity bill amount paid'
 'rent of land amount paid' 'children school fee amount paid'
 'equipment rent amount paid' 'expenditure' 'latitude' 'longitude']

In [99]:
res = test_train_matrix_(result[0])
print(res)

Index(['default payment next month', 'default payment next month_categorical'], dtype='object')
(array([[50000, 1, 3, ..., 1, 2, 1],
       [200000, 1, 2, ..., 1, 1, 0],
       [50000, 1, 3, ..., 1, 2, 0],
       ...,
       [200000, 2, 1, ..., 2, 2, 1],
       [150000, 1, 2, ..., 1, 1, 1],
       [80000, 2, 3, ..., 2, 1, 1]], dtype=object), array([1, 0, 0, ..., 1, 1, 1]))

In [42]:
COMBINED_DATA = "combined_data.txt"
df_combined = pd.read_csv(COMBINED_DATA, sep='\t')
df_combined = df_combined.drop(df_combined.columns[0], axis=1)
print(df_combined.columns.values)
df_combined
result = read_file_(df_combined, "")
df = result[0]
to_drop = [col for col in df.columns if '.' in col]
df.drop(to_drop, axis=1, inplace=True)
print(df.columns.values)
df

['LIMIT BAL' 'SEX' 'EDUCATION' 'MARRIAGE' 'AGE' 'IRRIGATION PAY STATUS'
 'ELECTRICITY BILL PAY STATUS' 'LAND RENT PAY STATUS'
 'CHILDREN SCHOOL FEE PAY STATUS' 'EQUIPMENT RENT PAY STATUS'
 'IRRIGATION BILL' 'ELECTRICITY BILL' 'RENT OF LAND'
 'CHILDREN SCHOOL FEES' 'EQUIPMENT RENT' 'INCOME'
 'IRRGIGATION BILL AMOUNT PAID' 'ELECTRICITY BILL AMOUNT PAID'
 'RENT OF LAND AMOUNT PAID' 'CHILDREN SCHOOL FEE AMOUNT PAID'
 'EQUIPMENT RENT AMOUNT PAID' 'EXPENDITURE' 'Latitude' 'Longitude'
 'default payment next month' 'Country' 'Crop_Type'
 'Distance_to_the_next_city_KM'
 'Distance_to_the_next_natural_waterbody_lake_or_pond_km'
 'Distance_to_the_next_primary_highway_km'
 'Distance_to_the_next_village_km' 'District' 'Estimated_INR'
 'Farm_Size_Hect' 'Latitude.1' 'Longitude.1' 'MSP_INR_Per_Quintal' 'State'
 'Sub-district' 'Yield_KG_Per_Hect' 'default payment next month.1'
 '\xa0Distance_to_the_next_waterway_river_or_canal_km']
default payment next month
limit bal
<class 'str'>
sex
<class 'str'>
education
<class 'str'>
marriage
<class 'str'>
age
<class 'str'>
irrigation pay status
<class 'str'>
electricity bill pay status
<class 'str'>
land rent pay status
<class 'str'>
children school fee pay status
<class 'str'>
equipment rent pay status
<class 'str'>
irrigation bill
<class 'str'>
electricity bill
<class 'str'>
rent of land
<class 'str'>
children school fees
<class 'str'>
equipment rent
<class 'str'>
income
<class 'str'>
irrgigation bill amount paid
<class 'str'>
electricity bill amount paid
<class 'str'>
rent of land amount paid
<class 'str'>
children school fee amount paid
<class 'str'>
equipment rent amount paid
<class 'str'>
expenditure
<class 'str'>
latitude
<class 'str'>
longitude
<class 'str'>
default payment next month
<class 'str'>
country
<class 'str'>
crop_type
<class 'str'>
distance_to_the_next_city_km
<class 'str'>
distance_to_the_next_natural_waterbody_lake_or_pond_km
<class 'str'>
distance_to_the_next_primary_highway_km
<class 'str'>
distance_to_the_next_village_km
<class 'str'>
district
<class 'str'>
estimated_inr
<class 'str'>
farm_size_hect
<class 'str'>
latitude.1
<class 'str'>
longitude.1
<class 'str'>
msp_inr_per_quintal
<class 'str'>
state
<class 'str'>
sub-district
<class 'str'>
yield_kg_per_hect
<class 'str'>
default payment next month.1
<class 'str'>
 distance_to_the_next_waterway_river_or_canal_km
<class 'str'>
['limit bal' 'education' 'age' 'irrigation pay status'
 'electricity bill pay status' 'land rent pay status'
 'children school fee pay status' 'equipment rent pay status'
 'irrigation bill' 'electricity bill' 'rent of land'
 'children school fees' 'equipment rent' 'income'
 'irrgigation bill amount paid' 'electricity bill amount paid'
 'rent of land amount paid' 'children school fee amount paid'
 'equipment rent amount paid' 'expenditure' 'latitude' 'longitude'
 'crop_type' 'distance_to_the_next_city_km'
 'distance_to_the_next_natural_waterbody_lake_or_pond_km'
 'distance_to_the_next_primary_highway_km'
 'distance_to_the_next_village_km' 'district' 'estimated_inr'
 'farm_size_hect' 'msp_inr_per_quintal' 'sub-district' 'yield_kg_per_hect'
 '\xa0distance_to_the_next_waterway_river_or_canal_km' 'sex_categorical'
 'marriage_categorical' 'default payment next month_categorical'
 'country_categorical' 'state_categorical']

,limit bal,education,age,irrigation pay status,electricity bill pay status,land rent pay status,children school fee pay status,equipment rent pay status,irrigation bill,electricity bill,...,farm_size_hect,msp_inr_per_quintal,sub-district,yield_kg_per_hect,distance_to_the_next_waterway_river_or_canal_km,sex_categorical,marriage_categorical,default payment next month_categorical,country_categorical,state_categorical
0,50000,3,28,2,2,2,0,0,28129,29184,...,10.60,1700.0,Shrigonda,744.0,42.30,1,2,1,India,Maharashtra
1,200000,2,38,0,0,0,0,0,152856,156104,...,13.44,1550.0,Shrigonda,2390.0,39.07,1,1,0,India,Maharashtra
2,50000,3,43,-1,-1,-1,0,-1,4166,4166,...,1.40,1425.0,Shrigonda,461.0,43.62,1,2,0,India,Maharashtra
3,140000,2,30,-1,-1,-2,-2,-2,854,0,...,12.31,1400.0,Shrigonda,1037.0,41.23,2,2,0,India,Maharashtra
4,20000,1,22,0,0,2,-1,0,14028,16484,...,12.51,1400.0,Shrigonda,1037.0,38.18,2,2,1,India,Maharashtra
5,500000,1,30,0,0,0,0,0,416171,437749,...,12.51,1400.0,Shrigonda,1037.0,38.18,1,2,0,India,Maharashtra
6,50000,3,47,1,3,2,0,0,4759,4540,...,12.51,1400.0,Shrigonda,1037.0,38.18,1,1,1,India,Maharashtra
7,140000,2,29,0,0,2,0,0,122662,123536,...,12.51,1400.0,Shrigonda,1037.0,38.18,2,2,0,India,Maharashtra
8,230000,3,41,0,0,0,0,0,9552,11376,...,14.43,1550.0,Shrigonda,2390.0,37.02,1,2,1,India,Maharashtra
9,40000,1,29,0,0,2,2,2,26461,29425,...,7.09,1550.0,Shrigonda,2390.0,49.32,2,2,1,India,Maharashtra
10,580000,1,31,0,0,0,0,0,484798,475282,...,0.74,1700.0,Shrigonda,744.0,48.66,2,1,0,India,Maharashtra
11,300000,1,55,-2,-2,-2,-2,-2,390,601,...,0.74,1700.0,Shrigonda,744.0,48.66,1,2,1,India,Maharashtra
12,150000,3,43,0,0,0,2,2,142811,139652,...,13.77,4020.0,Shrigonda,2170.0,46.28,2,1,1,India,Maharashtra
13,70000,1,36,0,0,0,0,0,79640,75021,...,8.81,1400.0,Shrigonda,1037.0,44.87,2,2,0,India,Maharashtra
14,160000,2,29,-1,-1,-1,-1,-1,7002,6696,...,17.73,1550.0,Shrigonda,2390.0,44.57,1,2,0,India,Maharashtra
15,30000,2,22,0,0,0,0,0,27388,29016,...,17.73,1550.0,Shrigonda,2390.0,44.57,2,2,0,India,Maharashtra
16,50000,2,22,2,2,2,0,0,13752,17945,...,19.89,1400.0,Shrigonda,1037.0,40.51,1,2,1,India,Maharashtra
17,240000,3,33,0,0,0,0,0,221960,223205,...,19.89,1400.0,Shrigonda,1037.0,40.51,2,2,0,India,Maharashtra
18,190000,3,54,1,-2,-2,-1,0,-596,-1072,...,15.68,230.0,Shrigonda,2872.0,39.48,1,1,0,India,Maharashtra
19,90000,2,44,2,2,2,2,2,15089,17023,...,17.94,4020.0,Shrigonda,2170.0,35.99,2,2,1,India,Maharashtra
20,60000,1,25,0,0,0,0,0,57174,58559,...,8.59,1400.0,Shrigonda,1037.0,52.43,2,2,0,India,Maharashtra
21,20000,2,24,3,2,2,2,2,322,322,...,2.99,1900.0,Shrigonda,70000.0,50.54,2,2,1,India,Maharashtra
22,20000,2,24,2,0,0,2,2,4127,5557,...,11.50,1550.0,Shrigonda,2390.0,49.91,1,2,1,India,Maharashtra
23,50000,1,24,2,2,0,0,0,49946,48808,...,14.63,1400.0,Shrigonda,1037.0,48.50,1,2,0,India,Maharashtra
24,110000,1,28,0,0,0,0,0,65024,61848,...,2.85,1550.0,Shrigonda,2390.0,45.76,2,2,0,India,Maharashtra
25,500000,1,35,-1,-1,-1,-1,-1,2153,9869,...,7.09,230.0,Shrigonda,2872.0,44.52,2,1,0,India,Maharashtra
26,360000,1,27,-1,-1,-1,-1,-1,5810,4036,...,13.49,1700.0,Shrigonda,744.0,34.93,1,2,0,India,Maharashtra
27,50000,2,26,0,0,-2,-1,-1,102800,0,...,8.35,1700.0,Shrigonda,744.0,55.80,1,1,0,India,Maharashtra
28,100000,1,38,2,2,2,2,2,37160,39750,...,8.35,1700.0,Shrigonda,744.0,55.80,2,2,1,India,Maharashtra
29,20000,2,40,0,0,0,0,0,17068,18283,...,8.35,1700.0,Shrigonda,744.0,55.80,1,2,1,India,Maharashtra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24970,210000,1,27,0,0,0,0,0,99050,17924,...,2.69,230.0,Udgir,2872.0,63.73,2,2,0,India,Maharashtra
24971,130000,2,25,-2,-1,0,0,0,51734,77751,...,12.24,4020.0,Udgir,2170.0,61.91,2,2,0,India,Maharashtra
24972,10000,2,21,0,0,0,0,-1,6703,8422,...,16.40,1400.0,Mukher,1037.0,57.26,1,2,0,India,Maharashtra
24973,360000,1,36,-2,-2,-2,-2,-2,0,0,...,12.91,1700.0,Mukher,744.0,56.31,2,1,0,India,Maharashtra
24974,100000,3,44,0,0,0,0,0,41803,73882,...,12.91,1700.0,Mukher,744.0,56.31,2,1,1,India,Maharashtra
24975,280000,1,63,-2,-2,-2,-2,-2,4108,2219,...,18.49,1550.0,Mukher,2390.0,53.95,2,1,0,India,Maharashtra
24976,30000,2,24,0,0,0,2,0,18220,20606,...,7.15,230.0,Kandahar,2872.0,50.76,2,2,0,India,Maharashtra
24977,50000,2,27,0,0,0,0,0,25870,21511,...,7.15,1900.0,Kandahar,70000.0,43.19,2,2,0,India,Maharashtra
24978,410000,1,30,0,-1,-1,0,0,6972,3188,...,14.79,4020.0,Kandahar,2170.0,42.26,2,2,0,India,Maharashtra
24979,450000,1,31,-1,-1,-1,-1,0,12818,17522,...,14.79,4020.0,Kandahar,2170.0,42.26,2,2,0,India,Maharashtra
24980,120000,2,42,0,0,0,0,0,114740,113994,...,14.79,4020.0,Kandahar,2170.0,42.26,2,1,0,India,Maharashtra
24981,50000,1,26,1,-2,-2,-1,-1,0,0,...,10.31,1550.0,Kandahar,2390.0,38.52,2,2,0,India,Maharashtra
24982,310000,1,38,-1,-1,-1,-1,-2,1424,4542,...,24.25,1425.0,Kandahar,461.0,36.94,2,2,0,India,Maharashtra
24983,180000,2,29,1,-2,-2,-2,-2,-2,-2,...,1.76,1550.0,Kandahar,2390.0,35.87,1,2,0,India,Maharashtra
24984,500000,1,44,-1,-1,-1,-1,-1,29178,26963,...,18.56,1900.0,Kandahar,70000.0,34.52,2,1,0,India,Maharashtra
24985,20000,3,55,-1,3,2,0,0,3413,3206,...,9.22,1550.0,Kandahar,2390.0,33.17,1,2,0,India,Maharashtra
24986,300000,2,39,-1,-1,-1,-1,-1,6293,5483,...,1.48,1550.0,Udgir,2390.0,67.89,2,2,0,India,Maharashtra
24987,150000,2,35,0,0,0,0,0,128278,131715,...,6.48,1550.0,Udgir,2390.0,64.82,2,1,0,India,Maharashtra
24988,200000,2,32,-1,-1,-1,-1,-1,9249,9362,...,17.84,1400.0,Mukher,1037.0,60.02,1,2,0,India,Maharashtra
24989,90000,1,25,2,2,2,2,0,86014,92898,...,4.21,1425.0,Mukher,461.0,57.72,2,2,0,India,Maharashtra
24990,110000,2,45,0,0,2,0,0,112987,110899,...,3.27,4020.0,Mukher,2170.0,56.95,1,1,1,India,Maharashtra
24991,110000,2,29,0,0,0,0,0,56073,59635,...,3.27,4020.0,Mukher,2170.0,56.95,2,2,0,India,Maharashtra
24992,310000,1,32,0,-1,0,0,0,4762,26943,...,18.49,1550.0,Mukher,2390.0,53.95,2,1,1,India,Maharashtra
24993,80000,2,53,0,0,0,0,0,37242,37634,...,16.65,1550.0,Kandahar,2390.0,49.34,2,1,0,India,Maharashtra
24994,320000,2,43,0,0,0,0,0,181048,186444,...,9.92,1425.0,Kandahar,461.0,46.23,2,1,0,India,Maharashtra
24995,320000,3,35,0,0,0,0,0,157249,148123,...,9.92,1425.0,Kandahar,461.0,46.23,2,1,1,India,Maharashtra
24996,80000,2,27,0,-1,-1,-2,-2,56720,5958,...,2.35,1700.0,Kandahar,744.0,39.03,2,1,1,India,Maharashtra
24997,200000,1,30,-1,-1,-1,-1,-1,105,271,...,5.04,1900.0,Kandahar,70000.0,37.06,2,2,1,India,Maharashtra
24998,150000,2,36,2,0,0,0,0,86333,88931,...,12.10,1700.0,Kandahar,744.0,35.23,1,1,1,India,Maharashtra
24999,80000,3,40,0,0,0,0,0,12171,11554,...,13.55,1400.0,Kandahar,1037.0,32.63,2,1,1,India,Maharashtra

In [7]:
result = read_file_(df_combined, "")
print("")
print(result[0].columns.values)
print(type(result[0]))

default payment next month
limit bal
<class 'str'>
sex
<class 'str'>
education
<class 'str'>
marriage
<class 'str'>
age
<class 'str'>
irrigation pay status
<class 'str'>
electricity bill pay status
<class 'str'>
land rent pay status
<class 'str'>
children school fee pay status
<class 'str'>
equipment rent pay status
<class 'str'>
irrigation bill
<class 'str'>
electricity bill
<class 'str'>
rent of land
<class 'str'>
children school fees
<class 'str'>
equipment rent
<class 'str'>
income
<class 'str'>
irrgigation bill amount paid
<class 'str'>
electricity bill amount paid
<class 'str'>
rent of land amount paid
<class 'str'>
children school fee amount paid
<class 'str'>
equipment rent amount paid
<class 'str'>
expenditure
<class 'str'>
latitude
<class 'str'>
longitude
<class 'str'>
default payment next month
<class 'str'>
country
<class 'str'>
crop_type
<class 'str'>
distance_to_the_next_city_km
<class 'str'>
distance_to_the_next_natural_waterbody_lake_or_pond_km
<class 'str'>
distance_to_the_next_primary_highway_km
<class 'str'>
distance_to_the_next_village_km
<class 'str'>
district
<class 'str'>
estimated_inr
<class 'str'>
farm_size_hect
<class 'str'>
latitude.1
<class 'str'>
longitude.1
<class 'str'>
msp_inr_per_quintal
<class 'str'>
state
<class 'str'>
sub-district
<class 'str'>
yield_kg_per_hect
<class 'str'>
default payment next month.1
<class 'str'>
 distance_to_the_next_waterway_river_or_canal_km
<class 'str'>

['limit bal' 'education' 'age' 'irrigation pay status'
 'electricity bill pay status' 'land rent pay status'
 'children school fee pay status' 'equipment rent pay status'
 'irrigation bill' 'electricity bill' 'rent of land'
 'children school fees' 'equipment rent' 'income'
 'irrgigation bill amount paid' 'electricity bill amount paid'
 'rent of land amount paid' 'children school fee amount paid'
 'equipment rent amount paid' 'expenditure' 'latitude' 'longitude'
 'crop_type' 'distance_to_the_next_city_km'
 'distance_to_the_next_natural_waterbody_lake_or_pond_km'
 'distance_to_the_next_primary_highway_km'
 'distance_to_the_next_village_km' 'district' 'estimated_inr'
 'farm_size_hect' 'latitude.1' 'longitude.1' 'msp_inr_per_quintal'
 'sub-district' 'yield_kg_per_hect'
 '\xa0distance_to_the_next_waterway_river_or_canal_km' 'sex_categorical'
 'marriage_categorical' 'default payment next month_categorical'
 'country_categorical' 'state_categorical'
 'default payment next month.1_categorical']
<class 'pandas.core.frame.DataFrame'>

In [40]:
df = result[0]
to_drop = [col for col in df.columns if '.' in col]
df.drop(to_drop, axis=1, inplace=True)
df

,limit bal,education,age,irrigation pay status,electricity bill pay status,land rent pay status,children school fee pay status,equipment rent pay status,irrigation bill,electricity bill,...,farm_size_hect,msp_inr_per_quintal,sub-district,yield_kg_per_hect,distance_to_the_next_waterway_river_or_canal_km,sex_categorical,marriage_categorical,default payment next month_categorical,country_categorical,state_categorical
0,50000,3,28,2,2,2,0,0,28129,29184,...,10.60,1700.0,Shrigonda,744.0,42.30,1,2,1,India,Maharashtra
1,200000,2,38,0,0,0,0,0,152856,156104,...,13.44,1550.0,Shrigonda,2390.0,39.07,1,1,0,India,Maharashtra
2,50000,3,43,-1,-1,-1,0,-1,4166,4166,...,1.40,1425.0,Shrigonda,461.0,43.62,1,2,0,India,Maharashtra
3,140000,2,30,-1,-1,-2,-2,-2,854,0,...,12.31,1400.0,Shrigonda,1037.0,41.23,2,2,0,India,Maharashtra
4,20000,1,22,0,0,2,-1,0,14028,16484,...,12.51,1400.0,Shrigonda,1037.0,38.18,2,2,1,India,Maharashtra
5,500000,1,30,0,0,0,0,0,416171,437749,...,12.51,1400.0,Shrigonda,1037.0,38.18,1,2,0,India,Maharashtra
6,50000,3,47,1,3,2,0,0,4759,4540,...,12.51,1400.0,Shrigonda,1037.0,38.18,1,1,1,India,Maharashtra
7,140000,2,29,0,0,2,0,0,122662,123536,...,12.51,1400.0,Shrigonda,1037.0,38.18,2,2,0,India,Maharashtra
8,230000,3,41,0,0,0,0,0,9552,11376,...,14.43,1550.0,Shrigonda,2390.0,37.02,1,2,1,India,Maharashtra
9,40000,1,29,0,0,2,2,2,26461,29425,...,7.09,1550.0,Shrigonda,2390.0,49.32,2,2,1,India,Maharashtra
10,580000,1,31,0,0,0,0,0,484798,475282,...,0.74,1700.0,Shrigonda,744.0,48.66,2,1,0,India,Maharashtra
11,300000,1,55,-2,-2,-2,-2,-2,390,601,...,0.74,1700.0,Shrigonda,744.0,48.66,1,2,1,India,Maharashtra
12,150000,3,43,0,0,0,2,2,142811,139652,...,13.77,4020.0,Shrigonda,2170.0,46.28,2,1,1,India,Maharashtra
13,70000,1,36,0,0,0,0,0,79640,75021,...,8.81,1400.0,Shrigonda,1037.0,44.87,2,2,0,India,Maharashtra
14,160000,2,29,-1,-1,-1,-1,-1,7002,6696,...,17.73,1550.0,Shrigonda,2390.0,44.57,1,2,0,India,Maharashtra
15,30000,2,22,0,0,0,0,0,27388,29016,...,17.73,1550.0,Shrigonda,2390.0,44.57,2,2,0,India,Maharashtra
16,50000,2,22,2,2,2,0,0,13752,17945,...,19.89,1400.0,Shrigonda,1037.0,40.51,1,2,1,India,Maharashtra
17,240000,3,33,0,0,0,0,0,221960,223205,...,19.89,1400.0,Shrigonda,1037.0,40.51,2,2,0,India,Maharashtra
18,190000,3,54,1,-2,-2,-1,0,-596,-1072,...,15.68,230.0,Shrigonda,2872.0,39.48,1,1,0,India,Maharashtra
19,90000,2,44,2,2,2,2,2,15089,17023,...,17.94,4020.0,Shrigonda,2170.0,35.99,2,2,1,India,Maharashtra
20,60000,1,25,0,0,0,0,0,57174,58559,...,8.59,1400.0,Shrigonda,1037.0,52.43,2,2,0,India,Maharashtra
21,20000,2,24,3,2,2,2,2,322,322,...,2.99,1900.0,Shrigonda,70000.0,50.54,2,2,1,India,Maharashtra
22,20000,2,24,2,0,0,2,2,4127,5557,...,11.50,1550.0,Shrigonda,2390.0,49.91,1,2,1,India,Maharashtra
23,50000,1,24,2,2,0,0,0,49946,48808,...,14.63,1400.0,Shrigonda,1037.0,48.50,1,2,0,India,Maharashtra
24,110000,1,28,0,0,0,0,0,65024,61848,...,2.85,1550.0,Shrigonda,2390.0,45.76,2,2,0,India,Maharashtra
25,500000,1,35,-1,-1,-1,-1,-1,2153,9869,...,7.09,230.0,Shrigonda,2872.0,44.52,2,1,0,India,Maharashtra
26,360000,1,27,-1,-1,-1,-1,-1,5810,4036,...,13.49,1700.0,Shrigonda,744.0,34.93,1,2,0,India,Maharashtra
27,50000,2,26,0,0,-2,-1,-1,102800,0,...,8.35,1700.0,Shrigonda,744.0,55.80,1,1,0,India,Maharashtra
28,100000,1,38,2,2,2,2,2,37160,39750,...,8.35,1700.0,Shrigonda,744.0,55.80,2,2,1,India,Maharashtra
29,20000,2,40,0,0,0,0,0,17068,18283,...,8.35,1700.0,Shrigonda,744.0,55.80,1,2,1,India,Maharashtra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24970,210000,1,27,0,0,0,0,0,99050,17924,...,2.69,230.0,Udgir,2872.0,63.73,2,2,0,India,Maharashtra
24971,130000,2,25,-2,-1,0,0,0,51734,77751,...,12.24,4020.0,Udgir,2170.0,61.91,2,2,0,India,Maharashtra
24972,10000,2,21,0,0,0,0,-1,6703,8422,...,16.40,1400.0,Mukher,1037.0,57.26,1,2,0,India,Maharashtra
24973,360000,1,36,-2,-2,-2,-2,-2,0,0,...,12.91,1700.0,Mukher,744.0,56.31,2,1,0,India,Maharashtra
24974,100000,3,44,0,0,0,0,0,41803,73882,...,12.91,1700.0,Mukher,744.0,56.31,2,1,1,India,Maharashtra
24975,280000,1,63,-2,-2,-2,-2,-2,4108,2219,...,18.49,1550.0,Mukher,2390.0,53.95,2,1,0,India,Maharashtra
24976,30000,2,24,0,0,0,2,0,18220,20606,...,7.15,230.0,Kandahar,2872.0,50.76,2,2,0,India,Maharashtra
24977,50000,2,27,0,0,0,0,0,25870,21511,...,7.15,1900.0,Kandahar,70000.0,43.19,2,2,0,India,Maharashtra
24978,410000,1,30,0,-1,-1,0,0,6972,3188,...,14.79,4020.0,Kandahar,2170.0,42.26,2,2,0,India,Maharashtra
24979,450000,1,31,-1,-1,-1,-1,0,12818,17522,...,14.79,4020.0,Kandahar,2170.0,42.26,2,2,0,India,Maharashtra
24980,120000,2,42,0,0,0,0,0,114740,113994,...,14.79,4020.0,Kandahar,2170.0,42.26,2,1,0,India,Maharashtra
24981,50000,1,26,1,-2,-2,-1,-1,0,0,...,10.31,1550.0,Kandahar,2390.0,38.52,2,2,0,India,Maharashtra
24982,310000,1,38,-1,-1,-1,-1,-2,1424,4542,...,24.25,1425.0,Kandahar,461.0,36.94,2,2,0,India,Maharashtra
24983,180000,2,29,1,-2,-2,-2,-2,-2,-2,...,1.76,1550.0,Kandahar,2390.0,35.87,1,2,0,India,Maharashtra
24984,500000,1,44,-1,-1,-1,-1,-1,29178,26963,...,18.56,1900.0,Kandahar,70000.0,34.52,2,1,0,India,Maharashtra
24985,20000,3,55,-1,3,2,0,0,3413,3206,...,9.22,1550.0,Kandahar,2390.0,33.17,1,2,0,India,Maharashtra
24986,300000,2,39,-1,-1,-1,-1,-1,6293,5483,...,1.48,1550.0,Udgir,2390.0,67.89,2,2,0,India,Maharashtra
24987,150000,2,35,0,0,0,0,0,128278,131715,...,6.48,1550.0,Udgir,2390.0,64.82,2,1,0,India,Maharashtra
24988,200000,2,32,-1,-1,-1,-1,-1,9249,9362,...,17.84,1400.0,Mukher,1037.0,60.02,1,2,0,India,Maharashtra
24989,90000,1,25,2,2,2,2,0,86014,92898,...,4.21,1425.0,Mukher,461.0,57.72,2,2,0,India,Maharashtra
24990,110000,2,45,0,0,2,0,0,112987,110899,...,3.27,4020.0,Mukher,2170.0,56.95,1,1,1,India,Maharashtra
24991,110000,2,29,0,0,0,0,0,56073,59635,...,3.27,4020.0,Mukher,2170.0,56.95,2,2,0,India,Maharashtra
24992,310000,1,32,0,-1,0,0,0,4762,26943,...,18.49,1550.0,Mukher,2390.0,53.95,2,1,1,India,Maharashtra
24993,80000,2,53,0,0,0,0,0,37242,37634,...,16.65,1550.0,Kandahar,2390.0,49.34,2,1,0,India,Maharashtra
24994,320000,2,43,0,0,0,0,0,181048,186444,...,9.92,1425.0,Kandahar,461.0,46.23,2,1,0,India,Maharashtra
24995,320000,3,35,0,0,0,0,0,157249,148123,...,9.92,1425.0,Kandahar,461.0,46.23,2,1,1,India,Maharashtra
24996,80000,2,27,0,-1,-1,-2,-2,56720,5958,...,2.35,1700.0,Kandahar,744.0,39.03,2,1,1,India,Maharashtra
24997,200000,1,30,-1,-1,-1,-1,-1,105,271,...,5.04,1900.0,Kandahar,70000.0,37.06,2,2,1,India,Maharashtra
24998,150000,2,36,2,0,0,0,0,86333,88931,...,12.10,1700.0,Kandahar,744.0,35.23,1,1,1,India,Maharashtra
24999,80000,3,40,0,0,0,0,0,12171,11554,...,13.55,1400.0,Kandahar,1037.0,32.63,2,1,1,India,Maharashtra