In [1]:
import pandas as pd
import numpy as np
from CreditRisk import CreditRisk
from UnivariateAnalysis import UnivariateAnalysis
from LogisticRegression import LogisticRegression
from RandomForest import RandomForest
import re

In [2]:
DATA = "combined_data_all_numerical.csv"
df = pd.read_csv(DATA, delimiter='\t')
df.head()

,limit bal,sex,education,marriage,age,irrigation pay status,electricity bill pay status,land rent pay status,children school fee pay status,equipment rent pay status,...,distance_to_the_next_primary_highway_km,distance_to_the_next_village_km,district,estimated_inr,farm_size_hect,msp_inr_per_quintal,state,sub-district,yield_kg_per_hect,distance_to_the_next_waterway_river_or_canal_km
0,50000,1,3,2,28,2,2,2,0,0,...,1.55,1.39,1,13412.30,10.60,1700.0,2,41,744.0,42.30
1,200000,1,2,1,38,0,0,0,0,0,...,4.70,1.90,1,49778.69,13.44,1550.0,2,41,2390.0,39.07
2,50000,1,3,2,43,-1,-1,-1,0,-1,...,0.40,1.61,1,920.20,1.40,1425.0,2,41,461.0,43.62
3,140000,2,2,2,30,-1,-1,-2,-2,-2,...,2.58,0.43,1,17867.39,12.31,1400.0,2,41,1037.0,41.23
4,20000,2,1,2,22,0,0,2,-1,0,...,5.57,0.99,1,18157.12,12.51,1400.0,2,41,1037.0,38.18

In [3]:
#print(df.dtypes)

In [4]:
CR = CreditRisk("", "")
df_processed, classes = CR.read_file(df, "")
#df_processed.head()

In [5]:
#%time rand_forest = RandomForest("", 0.8, 0.95).run()
#%time rand_forest = RandomForest("", 0.8, 0.9).run()
%time rand_forest = RandomForest("", 0.8, 0.85).run()
#%time rand_forest = RandomForest("", 0.8, 0.80).run()
#%time rand_forest = RandomForest("", 0.8, 0.75).run()

random forest accuracy: 0.7905
CPU times: user 1min 47s, sys: 635 ms, total: 1min 47s
Wall time: 1min 48s

In [6]:
#%time model = LogisticRegression("", 0.8).run()
#print(model)